/*全体ラッパー*/
.buy_change_wrapper{
	width: 100vw;
	min-width: 1080px;
	height: 80vh;
	min-height: 860px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	background-color: #eee;
}
.change_address_payment_wrapper{
	width: 700px;
	min-width: 700px;
	height: 322px;
	min-height: 322px;
	margin: 20px auto;
	border: solid 1px;
	background-color: #d6d6d6;
	display: flex;
	flex-flow: row nowrap;
}
.change_address{
	width: 500px;
	min-width: 500px;
	height: 322px;
	min-height: 322px;
	border-right: solid 1px;
	background-color: #fff;
}
.change_address h1{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
}
dl{
	padding: 10px 0;
	margin: 0;
}
dt,dd{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}
dt{/*左タイトル*/
	width: 15vw;
	min-width: 210px;
	padding-left: 10px;
}
.change_address button {
	width: 110px;
	height: 30px;
	margin: 10px 0 0 20px;
	padding-left: 2px;
	line-height: 28px;
	color: #ccc;
	background-color: #db0000;
	border-radius: 10px;
}
.change_address button:hover{
	opacity: 0.7;
	cursor: pointer;
}
.change_payment{
	width: 300px;
	min-height: 300px;
	height: 322px;
	min-height: 322px;
	background-color: #fff;
}
.change_payment h2{
	padding: 10px 10px 20px 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.change_payment label{
	width: 160px;
	height: 20px;
	padding-left: 20px;
	font-size: 17px;
	font-weight: bold;
}
.change_payment p{
	width: 160px;
	height: 100px;
	margin: auto;
	font-size: 16px;
	font-weight: bold;
}
.change_payment button{
	width: 110px;
	height: 30px;
	margin: 10px 0 0 50px;
	padding-left: 2px;
	line-height: 28px;
	color: #ccc;
	background-color: #db0000;
	border-radius: 10px;
}
.change_payment button:hover{
	opacity: 0.7;
	cursor: pointer;
}

/*下のコンテンツ*/
.change_shipping_wrapper{
	width: 700px;
	min-width: 700px;
	height: 443px;
	min-height: 443px;
	margin: 20px auto;
	background-color: #eee;
	display: flex;
	flex-flow: row nowrap;
}
.bottom_contents_wrapper{
	width: 700px;
	min-width: 700px;
	height: 322px;
	min-height: 322px;
	border: solid 1px;
	background-color: #d6d6d6;
}

/*左カラム*/
.contents{
	width: 350px;
	min-width: 350px;
	height: 322px;
	min-height: 322px;
	background-color: #fff;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.contents img{
	width: 120px;
	height: 120px;
	border: solid 1px;
}
.contents_info{
	width: 150px;
	height: 120px;
	margin-left: 10px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
}

/*右カラム*/
.change_shipping{
	width: 350px;
	min-width: 350px;
	height: 322px;
	min-height: 322px;
	background-color: #fff;
}
.change_shipping h1{
	width: 150px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	padding-top: 40px;
}
.select_shipping_form{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.btn_kakunin{
	width: 700px;
	min-width: 700px;
	height: 100px;
	min-height: 100px;
	margin: 20px auto;
	background-color: #eee;
}
.shipping_month_select{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 4vw;
	min-width: 70px;
	border-radius: 3px;
	text-align: left;
	background: url(../img/select_arrow.png) right 5% top 50% no-repeat;
	background-size: 15px;
	cursor: pointer;
}
.shipping_day_select{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 4vw;
	min-width: 70px;
	border-radius: 3px;
	text-align: left;
	background: url(../img/select_arrow.png) right 5% top 50% no-repeat;
	background-size: 15px;
	cursor: pointer;
}
.shipping_time_select{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 13px;
	width: 5vw;
	min-width: 145px;
	border-radius: 3px;
	text-align: left;
	background: url(../img/select_arrow.png) right 5% top 50% no-repeat;
	background-size: 15px;
	cursor: pointer;
}
input[type="radio"] {
	display: none;/*レイアウトを揃える*/
}
input[type="radio"] + label {/*関連付けられたテキスト部分をクリックしてもチェックを付けることができる*/
	position: relative;/*ポジションの設定*/
	display: inline-block;
	padding: 3px 3px 3px 20px;
	cursor: pointer;
}
input[type="radio"] + label::before {
	position: absolute;/*ポジションの設定*/
	content: '';/*要素にコンテンツを挿入する際に使用*/
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 100%;/*ラジオボタンを丸くする*/
}
input[type="radio"]:checked + label::after {
	position: absolute;/*ポジションの設定*/
	content: '';/*要素にコンテンツを挿入する際に使用*/
	top: 50%;
	left: 4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #007bbb;
	border-radius: 100%;/*ラジオボタンを丸くする*/
}
.kakunin{
	display: block;
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 0 auto;/*センターに表示*/
	background: url(../submit_btn/kakunin.png) left top no-repeat;
}
.kakunin:hover{
	opacity: 0.7;
	cursor: pointer;
}
