/*全体ラッパー*/
.buy_change_wrapper{
	width: 100vw;
	min-width: 1080px;
	height: 80vh;
	min-height: 760px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	background-color: #eee;
}
.change_address_payment_wrapper{
	width: 700px;
	min-width: 700px;
	height: 520px;
	min-height: 520px;
	margin: 20px auto;
	border: solid 1px;
	background-color: #d6d6d6;
	display: flex;
	flex-flow: row nowrap;
}
.change_address{
	width: 700px;
	min-width: 700px;
	height: 520px;
	min-height: 520px;
	border-right: solid 1px;
	background-color: #fff;
}
.change_address h1{
	border-bottom: solid 1px #000;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.change_address h2{
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 10px 20px;
	text-align: left;
}
dl{
	/*border-bottom: solid 1px #eee;*/
	padding: 10px 0;
	margin: 0;
}
dt,dd{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}
dt{/*左タイトル*/
	width: 15vw;
	min-width: 310px;
	padding-left: 60px;
}
dt img{
	width: 100px;
	height: 100px;
	border: solid 1px;
}
dd p{
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
}
.btn_kanryou{
	width: 700px;
	min-height: 700px;
	height: 100px;
	min-height: 100px;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.btn_kanryou img{
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 0 auto;/*センターに表示*/
}
.btn_kanryou button:hover{
	opacity: 0.7;
	cursor: pointer;
}
