
/*メイン*/
.card_input_wrapper{
	width: 60vw;
	min-width: 500px;
	height: auto;
	min-height: 520px;
	border: solid 1px #000;
	padding:0 32px 0 32px;
	margin: 20px auto;
	background-color: ;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.card_con_wrapper{
	width: 60vw;
	min-width: 500px;
	height: auto;
	min-height: 420px;
	border: solid 1px #000;
	padding:0 32px 0 32px;
	margin: 20px auto;
	background-color: ;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.guest_buy{
	width: 60vw;
	min-width: 500px;
	height: 40vh;
	min-height: 520px;
}
.card_input_title{
	font-size: 28px;
	font-weight: bold;
	border-bottom: solid 1px #999;
	padding: 3px 0 5px 0;
	text-align: center;
}
.form_wrapper{
	width: 60vw;
	height: auto;
	min-height: 230px;

}
dl{
	border-bottom: solid 1px #eee;
	padding: 20px 0;
	margin: 0;
}
dt,dd{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}
dt{/*左タイトル*/
	width: 15vw;
	min-width: 210px;

}
.deadline_select{
	width: 15vw;
	min-width: 310px;
}

.btn_next{
	width: 60vw;
	height: 20vh;
	min-height: 130px;
	margin: auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.btn_con{
	width: 60vw;
	min-width: 500px;
	height: 20vh;
	min-height: 130px;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

/* フォームスタイルのリセット */
input,button,textarea,select{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
}

/* テキストフォームの設定(text) */
input[type="text"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	min-width: 250px;
	border-radius: 3px;
}
.form_wrapper select{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 5vw;
	min-width: 150px;
	border-radius: 3px;
	text-align: center;
	background: url(../img/select_arrow.png) right 5% top 50% no-repeat;
	background-size: 15px;
	cursor: pointer;
}
input[type="tel"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	min-width: 250px;
	border-radius: 3px;
}
input[type="email"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	min-width: 250px;
	border-radius: 3px;
}

/* テキストフォームの設定(password) */
.form_wrapper select:focus{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}
input[type="text"]:focus,textarea{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}
input[type="tel"]:focus,textarea{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}
input[type="email"]:focus,textarea{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}

.next{
	display: block;
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 0 auto;/*センターに表示*/
	background: url(../submit_btn/tugi.png) left top no-repeat;
}
.next:hover{
	opacity: 0.7;
	cursor: pointer;
}
.modoru{
	display: block;
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 0 auto;/*センターに表示*/
	background: url(../submit_btn/modoru.png) left top no-repeat;
}
.modoru:hover{
	opacity: 0.7;
	cursor: pointer;
}
.kanryou{
	display: block;
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 0 auto;/*センターに表示*/
	background: url(../submit_btn/kanryou.png) left top no-repeat;
}
.kanryou:hover{
	opacity: 0.7;
	cursor: pointer;
}
