/*全体*/
.overall_wrapper{
	display: flex;
	width: 60vw;
	height: 62vh;
	min-height: 500px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


/*メイン*/
.guest_buy_wrapper{
	width: 60vw;
	height: 40vh;
	min-height: 700px;
	border: solid 1px #000;
	padding:0 32px 0 32px;
	margin: 20px auto;
	background-color: ;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.guest_buy{
	width: 60vw;
	min-width: 500px;
	height: 40vh;
	min-height: 520px;
}
.guest_buy_title{
	font-size: 28px;
	font-weight: bold;
	border-bottom: solid 1px #999;
	padding: 3px 0 5px 0;
	text-align: center;
}
.form_wrapper{
	width: 60vw;
	height: auto;
	min-height: 230px;

}
dl{
	border-bottom: solid 1px #eee;
	padding: 20px 0;
	margin: 0;
}
dt,dd{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}
dt{/*左タイトル*/
	width: 11vw;
	min-width: 120px;
}

.btn_next{
	width: 60vw;
	height: auto;
	min-height: 110px;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* フォームスタイルのリセット */
input,button,textarea,select{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
}

/* テキストフォームの設定(text) */
input[type="text"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	min-width: 250px;
	border-radius: 3px;
}
input[type="tel"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	min-width: 250px;
	border-radius: 3px;
}
input[type="email"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	min-width: 250px;
	border-radius: 3px;
}

/* テキストフォームの設定(password) */

input[type="text"]:focus,textarea{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}
input[type="tel"]:focus,textarea{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}
input[type="email"]:focus,textarea{
	border: 1px solid #1abc9c;
	box-shadow: 1px 1px 3px #48a;
}

.next{
	display: block;
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 0 auto;/*センターに表示*/
	cursor: pointer;/*カーソルの変更*/
	background: url(../submit_btn/tugi.png) left top no-repeat;
}
