/*全体*/
.overall_wrapper{
	display: flex;
	width: 60vw;
	height: 62vh;
	min-height: 400px;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: ;
	justify-content: center;
}


/*メイン*/
.member_register_wrapper{
	width: 60vw;
	height: 40vh;
	min-height: 380px;
	max-height: 56vw;
	border: solid 1px #000;
	padding:0 32px 0 32px;
	margin: 20px auto;
	background-color: ;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.member_register_confirmation_wrapper{
	width: 60vw;
	height: 22vh;
	min-height: 150px;
	max-height: 16vw;
	border: solid 1px #000;
	padding:0 32px 0 32px;
	margin: 20px auto;
	background-color: ;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.m_r_title{
	font-size: 2vw;
	font-weight: bold;
	border-bottom: solid 1px #999;
	padding: 3px 0 5px 0;
	text-align: center;
}
.form_wrapper{
	width: 60vw;
	height: 40vh;

}
dl{
	border-bottom: solid 1px #eee;
	padding: 20px 0;
	margin: 0;
}
dt,dd{
	display: table-cell;
	vertical-align: middle;
	font-size: 1vw;
	font-weight: bold;
}
dt{/*左タイトル*/
	width: 20vw;
}

.btn_confirmation{

	padding: 0 0 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.btn_confirmation2{
	padding: 0 0 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* フォームスタイルのリセット */
input,button,textarea,select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
}

/* テキストフォームの設定(text) */
input[type="text"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	border-radius: 3px;
}

/* テキストフォームの設定(password) */
input[type="password"],textarea{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	border-radius: 3px;
}

/* テキストフォームの設定(email) */
input[type="email"]{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 30vw;
	border-radius: 3px;
}

select{
	padding: 10px;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: auto;
	border-radius: 3px;
}

input[type="submit"]{
	display: block;/*ブロック要素として表示する*/
	width: 3vw;
	min-width: 100px;
	height: 3vw;
	min-height: 100px;
	margin: 0 auto;/*センターに表示*/
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	background: #3245ff;
	border-radius: 50%;
	cursor: pointer;/*カーソルの変更*/
	outline: none;/*クリック時の枠線を消す*/
}
input[type="submit"]:hover{
	background: #3c71cd;
}
