.inquiry_wrapper{
  width: 944px;
  height: auto;
  margin: 20px auto;
  padding: 0 32px;
  border: solid 1px #000;
}

.form_wrapper{
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.inquiry_title{
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 1px #999;
  padding: 3px 0 5px 0;
  text-align: left;
}

.inquiry_textarea{
  resize: none;
  height: 200px;
}

.form_wrapper select{
  padding: 10px 5px 10px 0;
	color: #444;
	border: solid 1px #ccc;
	margin: 3px 0;
	width: 5vw;
	min-width: 190px;
	border-radius: 3px;
	text-align: center;
  background: url(../img/select_arrow.png) right 5% top 50% no-repeat;
  background-size: 13px, 100%;
}

.sousin{
  display: block;
	border: 0px;
	width: 100px;
	height: 100px;
	margin: 5px auto;/*センターに表示*/
	background: url(../submit_btn/sousin.png) left top no-repeat;
}

.sousin:hover{
  opacity: 0.7;
  cursor: pointer;
}
